h1 {
    text-align: center;
    color: cornflowerblue;
  }
  
  button {
    color: white;
    background-color: blue;
  }

  img {
    width: 300;
    height: 300px;
  }

  body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  .main-container {
    flex: 1;
    padding: 2rem;
  }

  .stickyFooter {
    background-color: cornflowerblue;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: auto;
  }

  .stickyFooter ul {
    list-style-type: none; 
    padding: 0; 
    display: flex;
    justify-content: center;
  }
  
  .stickyFooter li {
    margin-right: 1rem; 
  }
  
  .stickyFooter a {
    text-decoration: none; 
    color: white; 
    font-size: 18px; 
    font-weight: bold; 
  }

  .stickyFooter a:hover {
    opacity: 0.7
  }
  

body {
  background-color: lightblue;
  text-align: center;
}

main {
  margin-right: 20px;
  margin-left: 20px;
  background-color: white;
}


.nav-item {
  margin: 0 15px;
  font-weight: bold;
  font-size: larger;
  align-items: center;
}

.nav-link {
  color: #ffffff; 
  transition: color 0.3s;
}

.btn-container {
  display: flex;
  gap: 10px;
  margin-left: 210px;
  padding: 75px;
}

.btn-warning:hover {
  transition: 0.2s;
  opacity: 0.9;
}

.home-btn .btn-primary{
  margin : 20px;
}

form {
  max-width: 800px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
}

.form-control {
  width: 100%;
}

.form-container .btn-primary {
  display: block;
  margin: 0 auto;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
}

.form-group {
  margin: 10px 0;
}

.form-container form {
  width: 50%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  align-items: center;
}

.comment-title{
  color: #6495ED
}

.comment-section{
  color: cornflowerblue;
}

